@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Black.eot");
  src: url("src/fonts/meta-pro/MetaPro-Black.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Black.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Black.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Black.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Black.svg#MetaPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Bold.eot");
  src: url("src/fonts/meta-pro/MetaPro-Bold.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Bold.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Bold.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Bold.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Bold.svg#MetaPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-BlackItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-BlackItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-BlackItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-BlackItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-BlackItalic.svg#MetaPro-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-BookItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-BookItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-BookItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-BookItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-BookItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-BookItalic.svg#MetaPro-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Book.eot");
  src: url("src/fonts/meta-pro/MetaPro-Book.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Book.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Book.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Book.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Book.svg#MetaPro-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-BoldItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-BoldItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-BoldItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-BoldItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-BoldItalic.svg#MetaPro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBlack.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBlack.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBlack.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBlack.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBlack.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBlack.svg#MetaPro-CondBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBlackItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBlackItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBlackItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBlackItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBlackItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBlackItalic.svg#MetaPro-CondBlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBoldItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBoldItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBoldItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBoldItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBoldItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBoldItalic.svg#MetaPro-CondBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Cond.eot");
  src: url("src/fonts/meta-pro/MetaPro-Cond.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Cond.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Cond.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Cond.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Cond.svg#MetaPro-Cond") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBold.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBold.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBold.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBold.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBold.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBold.svg#MetaPro-CondBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondItalic.svg#MetaPro-CondItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondMedium.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondMedium.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondMedium.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondMedium.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondMedium.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondMedium.svg#MetaPro-CondMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBook.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBook.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBook.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBook.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBook.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBook.svg#MetaPro-CondBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondBookItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondBookItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondBookItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondBookItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondBookItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondBookItalic.svg#MetaPro-CondBookItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondXbold.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondXbold.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondXbold.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondXbold.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondXbold.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondXbold.svg#MetaPro-CondXbold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondMediumItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondMediumItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondMediumItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondMediumItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondMediumItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondMediumItalic.svg#MetaPro-CondMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-CondXboldItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-CondXboldItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-CondXboldItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-CondXboldItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-CondXboldItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-CondXboldItalic.svg#MetaPro-CondXboldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-HairlineItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-HairlineItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-HairlineItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-HairlineItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-HairlineItalic.svg#MetaPro-HairlineItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Hairline.eot");
  src: url("src/fonts/meta-pro/MetaPro-Hairline.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Hairline.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Hairline.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Hairline.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Hairline.svg#MetaPro-Hairline") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Light.eot");
  src: url("src/fonts/meta-pro/MetaPro-Light.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Light.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Light.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Light.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Light.svg#MetaPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Italic.eot");
  src: url("src/fonts/meta-pro/MetaPro-Italic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Italic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Italic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Italic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Italic.svg#MetaPro-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-LightItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-LightItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-LightItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-LightItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-LightItalic.svg#MetaPro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-MediumItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-MediumItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-MediumItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-MediumItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-MediumItalic.svg#MetaPro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Medium.eot");
  src: url("src/fonts/meta-pro/MetaPro-Medium.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Medium.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Medium.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Medium.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Medium.svg#MetaPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-Thin.eot");
  src: url("src/fonts/meta-pro/MetaPro-Thin.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-Thin.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-Thin.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-Thin.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-Thin.svg#MetaPro-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro-ThinItalic.eot");
  src: url("src/fonts/meta-pro/MetaPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro-ThinItalic.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro-ThinItalic.woff") format("woff"), url("src/fonts/meta-pro/MetaPro-ThinItalic.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro-ThinItalic.svg#MetaPro-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Meta-Pro";
  src: url("src/fonts/meta-pro/MetaPro.eot");
  src: url("src/fonts/meta-pro/MetaPro.eot?#iefix") format("embedded-opentype"), url("src/fonts/meta-pro/MetaPro.woff2") format("woff2"), url("src/fonts/meta-pro/MetaPro.woff") format("woff"), url("src/fonts/meta-pro/MetaPro.ttf") format("truetype"), url("src/fonts/meta-pro/MetaPro.svg#MetaPro") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::-moz-selection {
  color: #F1F1F1;
  background: #A51008;
}

::selection {
  color: #F1F1F1;
  background: #A51008;
}

body {
  font-family: Alegreya, Arial, Helvetica, sans-serif;
  color: #002856;
}

a {
  color: #0A56AE;
}
a:hover, a:active {
  color: #A51008;
}
a:visited {
  color: #3085E8;
}
a:visited:hover {
  color: #A51008;
}

p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Meta-Pro, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(3.2rem, 10vw, 5rem);
  font-weight: 100;
}

h2 {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 500;
}

h4 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 600;
}

h5 {
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
  font-weight: 300;
}

h6 {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  font-weight: 600;
}

body {
  background-color: #F1F1F1;
  width: 100%;
  height: 100vH;
}

.nav-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nav-btn__home {
  width: 4rem;
  height: 3rem;
}
.nav-btn__home-icon {
  fill: #F1F1F1;
  width: 2.5rem;
}
.nav-btn__home-icon--desktop {
  display: none;
}
.nav-btn__main {
  right: 0;
  width: 4rem;
  height: 3rem;
}
.nav-btn__main i {
  font-size: 1.5rem;
  color: #F1F1F1;
}
.nav-btn__loggedin {
  top: 4rem;
  right: 0;
  width: 2rem;
  height: 2rem;
}
.nav-btn__loggedin i {
  font-size: 1.2rem;
  color: #F1F1F1;
}
.nav-btn__cross {
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  z-index: 100;
}
.nav-btn__cross i {
  font-size: 1.4rem;
  color: #F1F1F1;
}

@media screen and (min-width: 50rem) {
  .nav-btn__home {
    padding: 1rem;
    width: 9rem;
    height: 3rem;
  }
  .nav-btn__home-icon {
    display: none;
  }
  .nav-btn__home-icon--desktop {
    fill: #F1F1F1;
    width: 7rem;
    display: block;
  }
}
.main-nav-bar {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  z-index: 999;
  width: 50rem;
  max-width: 90vw;
  height: 100vH;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
  overflow: hidden;
}
.main-nav-bar__bg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10vh 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 10vh 100%);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
}
.main-nav-bar__bg-1 {
  background: #A51008;
  width: 100%;
}
.main-nav-bar__bg-2 {
  background: #002856;
  width: 80%;
}
.main-nav-bar__bg-3 {
  background: #FaFaFa;
  width: 20%;
}
.main-nav-bar--active {
  transform: translateX(0);
}
.main-nav-bar--active .main-nav-bar__bg {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
}
.main-nav-bar--active .main-nav-bar__content {
  left: 0;
  opacity: 1;
}
.main-nav-bar__content {
  opacity: 0;
  left: 30rem;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  padding-inline: 2rem;
}
.main-nav-bar__content a {
  color: #002856;
}

.primari-nav {
  width: 30rem;
  max-width: 100%;
  margin-inline: auto;
  margin-block: 2rem;
}
.primari-nav__item {
  display: block;
  padding-block: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  color: #002856;
  background-color: #FaFaFa;
  font-family: Meta-Pro, Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-weight: 300;
}
.primari-nav__item:hover {
  color: #002856;
}
.primari-nav__item:active {
  color: #EE271C;
}
.primari-nav__item:hover:visited {
  color: #002856;
}
.primari-nav__submenu {
  margin-block: 0.5rem;
}
.primari-nav__submenu a {
  opacity: 0.6;
  display: block;
  padding-block: 0.5rem;
  font-size: clamp(1.1rem, 4vw, 1.2rem);
  font-weight: 300;
  font-family: Meta-Pro, Arial, Helvetica, sans-serif;
}
.primari-nav__submenu a:hover {
  color: #002856;
  opacity: 1;
}
.primari-nav__submenu a:active {
  color: #EE271C;
}

.cervices-nav {
  border-bottom: solid 1px #BEBEBE;
  padding: 1rem;
}
.cervices-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cervices-nav a:hover span {
  opacity: 1;
  transform: translateY(-2px);
}
.cervices-nav a:active {
  color: #EE271C;
}
.cervices-nav span {
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
  font-size: clamp(1.6rem, 5vw, 2.3rem);
  opacity: 0.2;
}

.news-nav {
  padding: 1rem;
  border-top: solid 1px #BEBEBE;
  padding-top: 2rem;
}
.news-nav a {
  font-style: italic;
  font-size: clamp(0.9rem, 3vw, 1.4rem);
  font-weight: 200;
}

.secondary-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.secondary-nav a {
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
  opacity: 0.6;
  flex: 0 1 6rem;
  font-family: Meta-Pro, Arial, Helvetica, sans-serif;
  text-align: center;
}
.secondary-nav a:hover {
  opacity: 1;
  color: #002856;
}

/* Estilos para funcionalidad de menú de acordeón */
.accordion {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex-direction: row-reverse;
}
.accordion__plus {
  border: solid 1px #F1F1F1;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion__plus span {
  opacity: 0.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
  font-size: 1.5rem;
}
.accordion__plus:hover {
  background-color: #F1F1F1;
}
.accordion__plus:hover span {
  transform: scale(1.2);
  opacity: 1;
  color: #A51008;
}
.accordion__panel {
  padding-left: 3rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
}

.plus-active {
  background-color: #F1F1F1;
}
.plus-active span {
  transform: rotate(45deg) scale(1.2);
  color: #A51008;
  opacity: 1;
}
.plus-active:hover span {
  transform: rotate(45deg) scale(1.2);
  color: #EE271C;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #16212E;
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
}
.modal-bg--active {
  opacity: 0.9;
  pointer-events: all;
}

.arrow::after {
  margin-left: 3rem;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
  content: "";
  display: inline-block;
  background-color: #002856;
}

.arrow-right::after {
  height: 1.2rem;
  width: 0.6rem;
  margin-left: 1rem;
  -webkit-clip-path: polygon(0% 0%, 25% 0%, 75% 50%, 25% 100%, 0% 100%, 50% 50%);
          clip-path: polygon(0% 0%, 25% 0%, 75% 50%, 25% 100%, 0% 100%, 50% 50%);
}
.arrow-right:hover::after, .arrow-right:active::after {
  background-color: #A51008;
  margin-left: 1.5rem;
  -webkit-clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%);
          clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%);
}

.arrow-down {
  display: flex;
  align-items: center;
}
.arrow-down::after {
  width: 1.2rem;
  height: 0.6rem;
  margin-left: 1rem;
  -webkit-clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 25%, 50% 75%, 0% 25%);
          clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 25%, 50% 75%, 0% 25%);
}
.arrow-down:hover::after, .arrow-down:active::after {
  background-color: #A51008;
  -webkit-clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.arrow-down.accordion--active {
  color: #A51008;
}
.arrow-down.accordion--active::after {
  background-color: #A51008;
  -webkit-clip-path: polygon(0% 75%, 50% 25%, 100% 70%, 100% 100%, 50% 50%, 0% 100%);
          clip-path: polygon(0% 75%, 50% 25%, 100% 70%, 100% 100%, 50% 50%, 0% 100%);
}
.arrow-down.accordion--active:hover::after, .arrow-down.accordion--active:active::after {
  -webkit-clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 100% 100%, 50% 50%, 0% 100%);
          clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 100% 100%, 50% 50%, 0% 100%);
}

.btn {
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
}
.btn--blue {
  color: #F1F1F1;
  background-color: #002856;
}
.btn--blue:hover {
  color: #F1F1F1;
  background-color: #0A56AE;
}
.btn--blue:active {
  color: #F1F1F1;
  background-color: #002856;
}
.btn--red {
  font-weight: 400;
  color: #FaFaFa;
  background-color: #A51008;
}
.btn--red:hover {
  color: #F1F1F1;
  background-color: #EE271C;
}
.btn--red:active {
  color: #F1F1F1;
  background-color: #A51008;
}

.shadow-right:hover {
  box-shadow: 5px 5px 0 0 rgba(36, 59, 86, 0.3);
}
.shadow-right:active {
  box-shadow: 2px 2px 0 0 rgba(36, 59, 86, 0.3);
}

.shadow-left:hover {
  box-shadow: -5px 5px 0 0 rgba(36, 59, 86, 0.3);
}
.shadow-left:active {
  box-shadow: -2px 2px 0 0 rgba(36, 59, 86, 0.3);
}

.underline {
  -webkit-text-decoration: underline 1px #FaFaFa;
          text-decoration: underline 1px #FaFaFa;
  text-underline-offset: var(--offset, 0.2em);
  transition: all 0.2s cubic-bezier(0.2, 0.4, 0.5, 0.9);
}
.underline:hover {
  -webkit-text-decoration: underline 2px #A51008;
          text-decoration: underline 2px #A51008;
}

.underline-1::after {
  content: "";
  display: block;
  background-color: #A51008;
  height: 2px;
  width: 0%;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
}
.underline-1:hover::after {
  width: 100%;
}

.underline-3::after {
  content: "";
  display: block;
  background-color: #002856;
  height: 2px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 0.3, 0.2, 1);
}
.underline-3:hover::after {
  opacity: 1;
}

.main-banner_container {
  width: 100%;
}
.main-banner__inner-container {
  height: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-banner__nav {
  height: 60vh;
}
.main-banner__nav nav {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-banner__nav a {
  flex-basis: 50%;
  font-family: Meta-Pro, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 0.5rem;
  color: #002856;
  text-align: right;
}
.main-banner__nav a:hover {
  color: #002856;
}
.main-banner__nav a:active {
  color: #EE271C;
}
.main-banner__image {
  background-color: #002856;
  height: 40vh;
}

.column {
  max-width: 70rem;
  margin-inline: auto;
}

.dec_1-2 {
  fill: #A51008;
}

.dec_1-1 {
  fill: #002856;
}

.decoration-1 {
  height: clamp(5rem, 8vw, 7rem);
  width: clamp(6rem, 10vw, 8rem);
}
.decoration-1 svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=bundle.css.map */