$color-blue-1: #002856
$color-blue-2: #0A56AE
$color-blue-3: #3085E8
$color-blue-4: #8BA5C2
$color-blue-5: #16212E
$color-red-1: #A51008
$color-red-2: #EE271C
$color-gray-1: #6F6F6F
$color-gray-2: #BEBEBE
$color-gray-3: #F1F1F1
$color-gray-4: #FaFaFa

$shadow-left: -5px 5px 0 0 rgba(36, 59, 86, 0.3)
$shadow-left-1: -2px 2px 0 0 rgba(36, 59, 86, 0.3)
$shadow-right: 5px 5px 0 0 rgba(36, 59, 86, 0.3)
$shadow-right-1: 2px 2px 0 0 rgba(36, 59, 86, 0.3)

$transition-1: all .3s cubic-bezier(.2,.4,.5,.9)
$transition-2: all .3s cubic-bezier(.7,.0,.7,.8)
$transition-3: all .5s cubic-bezier(.0,.3,.2,1)
$transition-4: max-height .3s ease-in-out

$gradient-blue-1: linear-gradient(90deg, $color-blue-1 , $color-blue-2)
