@use '../1-helpers/variables' as *


.nav-btn
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	transition: $trasition-2
	overflow: hidden
	&__home
		padding: 1rem
		width: 4rem
		height: 3rem
		&-icon
			fill: $color-gray-3
			height: 2rem
		&-icon--desktop
			fill: $color-gray-3
			display: none
	&__main
		right: 0
		width: 4rem
		height: 3rem
		i
			font-size: 1.5rem
			color: $color-gray-3
	&__loggedin
		top: 4rem
		right: 0
		width: 3rem
		height: 3rem
		i
			font-size: 1.4rem
			color: $color-gray-3
	&__cross
		top: 0
		right: 0
		width: 3rem
		height: 3rem
		z-index: 100
		i
			font-size: 1.4rem
			color: $color-gray-3
	&:hover
		transition: $trasition-1
@media screen and( min-width: 50rem)

	.nav-btn
		&__home
			padding: 1rem
			width: 10rem
			height: 4rem
			&-icon
				display: none
			&-icon--desktop
				display: block

.btn
	&--blue
		background-color: $color-blue-1
		&:hover
			background-color: $color-blue-2
	&--red
		background-color: $color-red-1
		&:hover
			background-color: $color-red-2

.shadow-right
	&:hover
		box-shadow: $shadow-right

.shadow-left
	&:hover
		box-shadow: $shadow-left

			

.main-nav-bar
	position: fixed
	right: 0
	transform: translateX(100%)
	z-index: 999
	width: 80rem
	max-width: 90vw
	height: 100vH
	transition: $trasition-3
	overflow: hidden
	&__bg
		clip-path: polygon(0 0, 100% 0, 100% 100%, 10vh 100%)
		position: absolute
		top: 0
		right: 0
		height: 100%
		z-index: -1
		transition: $trasition-3
	&__bg-1
		background: $color-red-1
		width: 100%
	&__bg-2
		background: $color-blue-1
		width: 80%
	&__bg-3
		background: $color-gray-3
		width: 20%
	&--active
		transform: translateX(0)
		.main-nav-bar__bg
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
			width: 100%
		.main-nav-bar__content
			left: 0
			opacity: 1

	&__content 
		opacity: 0
		left: 30rem
		transition: $trasition-3
		// background-color: $color-gray-2
		overflow: auto
		position: relative
		max-height: 100%
		display: flex
		flex-direction: column
		gap: 2rem
		padding-block: 4rem
		padding-inline: 2rem
		a
			color: $color-blue-1

.cervices-nav
	border-bottom: solid 1px $color-gray-2
	padding-bottom: 2rem
	ul
		display: flex
		justify-content: space-around
.primari-nav
	paddin-inline: 2rem
	min-width: 20rem
	max-width: 40rem
	margin-inline: auto
	h3
		margin-bottom: 0
	ul
		display: flex
		flex-direction: column
		align-items: flex-start
	&__item
		margin-bottom: 1rem
	&__item:target &--sub
		max-height: 12rem
	&--sub
		scroll-behavior: smooth
		transition: $trasition-3
		overflow: hidden
		max-height: 0rem
		margin-left: 1rem
		a
			display: inline-block
			padding: .4rem

.news-nav	
	border-top: solid 1px $color-gray-2
	padding-top: 2rem
	ul
		justify-content: space-around
		display: flex
		

.modal-bg
	position: fixed
	width: 100%
	height: 100vh
	background-color: $color-blue-5
	z-index: 998
	opacity: 0
	pointer-events: none
	transition: $trasition-3
	&--active
		opacity: .9
		pointer-events: all

.home-nav
	padding: 2rem
	max-width: 50rem
	margin-inline: auto

	&__item
		a
			color: $color-blue-1
	ul
		display: flex
		flex-direction: column
		align-items: flex-start
	*
		margin-bottom: 0
.arrow
	a
		display: flex
		align-items: center
		padding-block: .5rem
		// background-color: red
		&::after
			transition: $trasition-3
			content: ""
			display: inline-block
			background-color: $color-blue-1


.arrow-right
	a
		&::after
			height: 1.2rem
			width: .6rem
			margin-left: 1rem
			clip-path: polygon(0% 0%, 25% 0%, 75% 50%, 25% 100%, 0% 100%, 50% 50%)
		&:hover, &:active
			&::after
				background-color: $color-red-1
				// transform: translateX(1rem)
				margin-left: 1.5rem
				clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%)

.arrow-down
	a
		&::after
			width: 1.2rem
			height: .6rem
			margin-left: 1rem
			clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 25%, 50% 75%, 0% 25%)
		&:hover, &:active
			&::after
				background-color: $color-red-1
				transform: translateY(.5rem)
				clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 50%, 50% 100%, 0% 50%)
				// clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 100% 100%, 50% 50%, 0% 100%)